<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="'/contacts'" [routerLink]="'/contacts'" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Contact detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header *ngIf="photo">
      <ion-item>
        <ion-avatar>
          <img [src]="photo">
        </ion-avatar>
        <h2> {{ loadedContact?.nama }} </h2>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let mail of loadedContact?.email">
        <ion-icon slot="start" name="mail-outline" color="primary"></ion-icon>
        <ion-label>
          {{mail}}
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let phone of loadedContact?.phone">
        <ion-icon slot="start"  name="call-outline" color="primary"></ion-icon>
        <ion-label>
          {{phone}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-label>
      Address Map :
    </ion-label>
  </ion-item>
  <div #map id="map" style="width: 500px; height: 500px; margin: 10px"></div>
</ion-content>

